.container {
    position: relative;

    /*width: 100%;*/
    /*max-width: 400px;*/
}

.container img {
    width: 100%;
    min-width: 176px;
    min-height: 40px;
    height: auto;
    border: 1px solid #c7c7c7;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    opacity: 0;
}

.container .btn:focus {
    outline: none;
}



.container:hover{}
.container:hover .btn {
    opacity:1;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.btn-recortar-imagem{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
}
.btn-cortar{
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    right: 70px;
    bottom: 30px;
}
