<ngx-loading [show]="loading"></ngx-loading>

<div class="login-body">
    <form autocomplete="off" #f="ngForm">
        <div class="login-panel ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 logo-container">
                    <img src="../../../assets/layout/images/logo.png"/>
                    <h1>{{'app.login.logue-com-sua-conta' | translate}}</h1>
                    <h2 style="text-transform: uppercase">{{'app.login.bem-vindo-a' | translate}}</h2>
                </div>
                <div class="ui-g-12" style="text-align: left">
                    <label for="email" class="required">{{'app.login.email' | translate}}</label>
                    <input id="email" pInputText
                           autocomplete="off"
                           class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                           type="email" name="email" placeholder="{{'app.login.email' | translate}}"
                           [(ngModel)]="email" required [minlength]="5"
                           #emailItem="ngModel">
                    <app-message [form]="f" [control]="emailItem"></app-message>
                </div>
                <div class="ui-g-12" style="text-align: left">
                    <label for="password" class="required">{{'app.login.senha' | translate}}</label>
                    <input id="password" pInputText
                           type="password"
                           autocomplete="off"
                           class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                           name="password" placeholder="{{'app.login.senha' | translate}}"
                           [(ngModel)]="password" required [minlength]="5"
                           #passwordItem="ngModel">
                    <app-message [form]="f" [control]="passwordItem"></app-message>
                </div>
                <div class="ui-g-12 button-container margin-button-login">
                    <button pButton
                            class="ui-button-success"
                            type="submit" label="{{'app.login.entrar' | translate}}"
                            [disabled]="f.invalid"
                            (click)="login()"></button>

                    <!--TODO: Implementar o esqueci minha senha-->
                    <button pButton
                            class="ui-button-secondary"
                            type="button" label="{{'app.login.esqueci-minha-senha' | translate}}"></button>
                </div>
            </div>
        </div>
    </form>
</div>

