.login-body {
    margin-right: 60px;
}

.login-body {
    background-color: #f1f3f6;
    padding-top: 0px
}

.login-body .login-panel {
    background-color: #f1f3f6;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-body .login-panel h1 {
    font-size: 19px;
}

.login-body .login-panel h2 {
    font-size: 12px;
}

.margin-button-login {
    margin-top: 30px;
}

.login-body .login-panel img {
    width: 200px;
}
