<ngx-loading [show]="loading"></ngx-loading>
<p-progressBar *ngIf="loading" mode="indeterminate" styleClass="wc-progress-bar-indeterminate"></p-progressBar>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">

            <div>
                <h1>{{'app.controleKm.lista' | translate}}</h1>
                <a pButton class="btn-add-new ui-button-secondary"
                   *ngIf="auth.hasPermission('ROLE_SALVAR_CONTROLE-KM')"
                   label="{{'app.controleKm.acoes.adicionar' | translate}}"
                   iconPos="left" icon="fa fa-plus"
                   tooltipPosition="top" pTooltip="{{'app.acoes.tooltip.novo' | translate}}"
                   routerLink="{{'app.controleKm.link-pagina' | translate}}/novo">
                </a>
            </div>

            <!-- FILTRO-->
            <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">

                <!--GLOBAL FILTER-->
                <div class="ui-inputgroup" ngClass="{{mostarFiltros ? 'd-none': ''}}">
                    <span class="ui-inputgroup-addon"><i class="fa fa fa-search"></i></span>
                    <input #globalFilter pInputText type="text" size="50"
                           (input)="dataTable.filterGlobal($event.target['value'], 'contains')"
                           placeholder="{{'app.controleKm.rotulos.filtro_itinerario' | translate}}">
                    <button pButton
                            type="button" icon="fa fa-close"
                            class="ui-button-danger"
                            *ngIf="globalFilter.value.length > 0"
                            (click)="buscarTodos(globalFilter, dataTable)"></button>
                    <button pButton
                            type="button" icon="fa fa-filter"
                            *ngIf="globalFilter.value.length === 0"
                            label="{{'app.comum.filtro.mais-filtros' | translate}}"
                            class="ui-button-secondary"
                            (click)="mostrarCamposFiltros(true)"></button>
                </div>

                <!--FILTER BY FIELDS-->
                <div class="ui-g" ngClass="{{!mostarFiltros ? 'd-none': ''}}">
                    <div class="ui-g-12 filter-title">
                        <h2>{{'app.comum.filtro.campos' | translate}}</h2>
                    </div>

                    <!-- VEICULO -->
                    <div class="ui-sm-4 ui-g-4 ui-fluid">
                        <label>{{'app.veiculo.titulo'| translate}}</label>
                        <p-dropdown emptyFilterMessage="{{'app.acoes.nenhum-registro-encontrado' | translate }}"
                                    [options]="veiculoList"
                                    [(ngModel)]="controleKmFiltro.veiculoId"
                                    [showClear]="true"
                                    [filter]="true" [autoWidth]="false"
                                    placeholder="{{'app.acoes.selecione2' | translate}}">
                        </p-dropdown>
                    </div>

                    <!-- MOTORISTA -->
                    <div class="ui-sm-4 ui-g-4 ui-fluid">
                        <label>{{'app.controleKm.campos.motorista'| translate}}</label>
                        <p-dropdown emptyFilterMessage="{{'app.acoes.nenhum-registro-encontrado' | translate }}"
                                    [options]="pessoaList"
                                    [(ngModel)]="controleKmFiltro.pessoaId"
                                    [showClear]="true"
                                    [filter]="true" [autoWidth]="false"
                                    placeholder="{{'app.acoes.selecione2' | translate}}">
                        </p-dropdown>
                    </div>

                    <!-- ITINERARIO -->
                    <div class="ui-sm-4 ui-g-4 ui-fluid">
                        <label>{{'app.itinerario.titulo'| translate}}</label>
                        <p-dropdown emptyFilterMessage="{{'app.acoes.nenhum-registro-encontrado' | translate }}"
                                    [options]="itinerarioList"
                                    [(ngModel)]="controleKmFiltro.itinerarioId"
                                    [showClear]="true"
                                    [filter]="true" [autoWidth]="false"
                                    placeholder="{{'app.acoes.selecione2' | translate}}">
                        </p-dropdown>
                    </div>

                    <!--Periodo-->
                    <div class="ui-g-3 ui-fluid">
                        <label>{{'app.controleKm.rotulos.dataSaidaMaiorQue' | translate}}</label>
                        <div class="wc-remove-padding-margin">
                            <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                                <p-inputMask [(ngModel)]="controleKmFiltro.dataSaida"
                                             mask="99/99/9999"
                                             pattern="([0-2][0-9]|3[0-1])\/(0[0-9]|1[0-2])\/[0-9]{4}">
                                </p-inputMask>
                            </div>
                            <div class="ui-g-2 ui-fluid wc-remove-padding-margin wc-centrer-text">
                                <span>{{'app.controleKm.rotulos.ate' | translate}}</span>
                            </div>
                            <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                                <p-inputMask [(ngModel)]="controleKmFiltro.dataChegada"
                                             mask="99/99/9999"
                                             pattern="([0-2][0-9]|3[0-1])\/(0[0-9]|1[0-2])\/[0-9]{4}">
                                </p-inputMask>
                            </div>
                        </div>
                    </div>

                    <!--Quilometragem-->
                    <div class="ui-g-3 ui-fluid">
                        <label>{{'app.controleKm.rotulos.quilometragem' | translate}}</label>

                        <div class="wc-remove-padding-margin">
                            <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                                <input pInputText
                                       type="text"
                                       [(ngModel)]="controleKmFiltro.kmSaida"
                                       pKeyFilter="pnum">
                            </div>
                            <div class="ui-g-2 ui-fluid wc-remove-padding-margin wc-centrer-text">
                                <span>{{'app.controleKm.rotulos.ate' | translate}}</span>
                            </div>
                            <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                                <input pInputText
                                       type="text"
                                       [(ngModel)]="controleKmFiltro.kmChegada"
                                       pKeyFilter="pnum">
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12" style="text-align: right">
                        <button pButton
                                type="button"
                                label="{{'app.comum.filtro.limpar' | translate}}"
                                class="ui-button-secondary"
                                (click)="mostrarCamposFiltros(true); filterFields(dataTable);"></button>
                        <button pButton
                                type="button" icon="fa fa-minus"
                                label="{{'app.comum.filtro.menos-filtros' | translate}}"
                                class="ui-button-secondary"
                                (click)="buscarTodos(globalFilter, dataTable)"></button>
                        <button pButton
                                type=" button" icon="fa fa-filter"
                                (click)="filterFields(dataTable)"
                                label="{{'app.comum.filtro.filtrar' | translate}}"></button>
                    </div>
                </div>
            </div>

            <!-- TABELA DE DADOS-->
            <p-table #dataTable
                     [value]="controleKmList"
                     [(selection)]="controleKmSelecionado"
                     selectionMode="single"
                     dataKey="key"

                     [lazy]="true"
                     [totalRecords]="totalRegistros"
                     (onLazyLoad)="loadBank($event)"

                     [filterDelay]="variaveisAmbiente.dataTable.filterDelay"
                     [paginator]="true"
                     [rows]="variaveisAmbiente.dataTable.rows"
                     [rowsPerPageOptions]="variaveisAmbiente.dataTable.rowsPerPageOptions"
                     [responsive]="true"

                     [columns]="COLUNAS"
            >
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9"> {{ 'app.acoes.nenhum-registro-encontrado' | translate}}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 40px"></th>
                        <th class="datatable-coluna_veiculo">
                            {{'app.controleKm.campos.veiculo'| translate}}
                        </th>
                        <th>
                            {{'app.controleKm.campos.itinerario'| translate}}
                        </th>

                        <th class="datatable-coluna_data">
                            {{'app.controleKm.campos.dataHoraSaida'| translate}}
                        </th>

                        <th class="datatable-coluna_data">
                            {{'app.controleKm.campos.dataHoraChegada'| translate}}
                        </th>

                        <th *ngFor="let col of columns" [hidden]="col.hidden" [class]="col.class">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-obj let-expanded="expanded">
                    <tr [pSelectableRow]="rowData"
                        class="{{(rowData['kmNaoInformado'] == 0 || (controleKmSelecionado && controleKmSelecionado['key'] === rowData['key'])) ? '' : 'linha-km-nao-informado'}}">
                        <td>
                            <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'fa fa fa-chevron-circle-down' : 'fa fa fa-chevron-circle-right'"
                                   style="font-size: 1.25em; color: #2d353c"></i>
                            </a>
                        </td>
                        <td class="datatable-coluna_veiculo">
                            {{rowData['veiculo']['frota']}} - {{rowData['veiculo']['placa']}}
                        </td>
                        <td>
                            {{rowData['itinerario']['nome']}}
                        </td>

                        <td style="text-align: center">
<!--                            {{rowData['dataHoraSaidaDiaSemana']}}-->
                            {{rowData['dataHoraSaida']}}
                        </td>

                        <td style="text-align: center">
<!--                            {{rowData['dataHoraChegadaDiaSemana']}}-->
                            {{rowData['dataHoraChegada']}}
                        </td>

                        <td *ngFor="let col of columns" [hidden]="col.hidden" [class]="col.class">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr class="{{rowData['kmNaoInformado'] == 0 ? '' : 'linha-km-nao-informado'}}">
                        <td [attr.colspan]="columns.length + 2">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-3">
                                    <label>{{'app.controleKm.campos.origem' | translate}}</label>
                                    <span>{{rowData['origem']}}</span>
                                </div>
                                <div class="ui-g-3">
                                    <label>{{'app.controleKm.campos.destino' | translate}}</label>
                                    <span>{{rowData['destino']}}</span>
                                </div>
                                <div class="ui-g-6">
                                    <label>{{'app.controleKm.campos.motorista'| translate}}</label>
                                    <span>{{rowData['pessoa']['nome']}}</span>
                                </div>
                                <div class="ui-g-12" *ngIf="(rowData['obs'] && rowData['obs'].length > 0) ? true : false">
                                    <label>{{'app.controleKm.campos.obs'| translate}}</label>
                                    <span>{{rowData['obs']}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="paginatorleft">
                    <a pButton icon="fa fa-refresh"
                       (click)="buscarTodos(globalFilter, dataTable)"
                       tooltipPosition="top" pTooltip="{{'app.acoes.atualizar' | translate}}"></a>
                </ng-template>

                <ng-template pTemplate="paginatorright" let-obj="rowData">
                    <button type="button"
                            *ngIf="auth.hasPermission('ROLE_ATUALIZAR_CONTROLE-KM')"
                            pButton
                            icon="fa fa-pencil"
                            label="{{'app.acoes.editar' | translate}}"
                            [disabled]="controleKmSelecionado ? false :true"
                            tooltipPosition="top" pTooltip="{{'app.acoes.tooltip.editar' | translate}}"
                            (click)="edit()"></button>
                    <button type="button"
                            *ngIf="auth.hasPermission('ROLE_DELETAR_CONTROLE-KM')"
                            pButton
                            icon="fa fa-trash"
                            class="ui-button-danger"
                            label="{{'app.acoes.excluir' | translate}}"
                            [disabled]="controleKmSelecionado ? false :true"
                            tooltipPosition="top" pTooltip="{{'app.acoes.tooltip.excluir' | translate}}"
                            (click)="confirmarExclusao()"></button>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
