<ngx-loading [show]="loading"></ngx-loading>
<p-progressBar *ngIf="loading" mode="indeterminate" styleClass="wc-progress-bar-indeterminate"></p-progressBar>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">

            <div>
                <h1>{{'app.pessoa.lista' | translate}}</h1>
                <a pButton class="btn-add-new ui-button-secondary"
                   *ngIf="auth.hasPermission('ROLE_SAVE_PERSON')"
                   label="{{'app.pessoa.acoes.adicionar' | translate}}"
                   iconPos="left" icon="fa fa-plus"
                   tooltipPosition="top" pTooltip="{{'app.acoes.tooltip.novo' | translate}}"
                   routerLink="{{'app.pessoa.link-pagina' | translate}}/novo">
                </a>
            </div>

            <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">

                <!--GLOBAL FILTER-->
                <div class="ui-inputgroup" ngClass="{{showFilter ? 'd-none': ''}}">
                    <span class="ui-inputgroup-addon"><i class="fa fa fa-search"></i></span>
                    <input #globalFilter pInputText type="text" size="50"
                           (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                           placeholder="{{'actions.global_filter' | translate}}">
                    <button pButton
                            type="button" icon="fa fa-close"
                            class="ui-button-danger"
                            *ngIf="globalFilter.value.length > 0"
                            (click)="findAll(globalFilter, dataTable)"></button>
                    <button pButton
                            type="button" icon="fa fa-filter"
                            *ngIf="globalFilter.value.length === 0"
                            label="{{'commons.filter.more_filters' | translate}}"
                            class="ui-button-secondary"
                            (click)="showFilterFields(true)"></button>
                </div>

                <!--FILTER BY FIELDS-->
                <div class="ui-g" ngClass="{{!showFilter ? 'd-none': ''}}">
                    <div class="ui-g-12 filter-title">
                        <h2>{{'commons.filter.fields' | translate}}</h2>
                    </div>
                    <div class="ui-g-4 ui-fluid">
                        <label>{{'bank.fields.name' | translate}}</label>
                        <input pInputText
                               type="text"
                               name="name"
                               [(ngModel)]="personFilters.name"
                               maxlength="30"
                        >
                    </div>
                    <div class="ui-g-12" style="text-align: right">
                        <button pButton
                                type="button" icon="fa fa-minus"
                                label="{{'commons.filter.less_filters' | translate}}"
                                class="ui-button-secondary"
                                (click)="findAll(globalFilter, dataTable)"></button>
                        <button pButton
                                type=" button" icon="fa fa-filter"
                                (click)="filterFields(dataTable)"
                                label="{{'commons.filter.filter' | translate}}"></button>
                    </div>
                </div>
            </div>
            <p-table #dataTable
                     [value]="persons"
                     [(selection)]="selectedPerson"
                     selectionMode="single"
                     dataKey="key"

                     [lazy]="true"
                     [(totalRecords)]="totalRecords"
                     (onLazyLoad)="loadBank($event)"

                     [filterDelay]="env.dataTable.filterDelay"
                     [paginator]="true"
                     [rows]="env.dataTable.rows"
                     [rowsPerPageOptions]="env.dataTable.rowsPerPageOptions"
                     [responsive]="true"

                     [columns]="COLS"
            >
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3"> {{ 'actions.no_records_found' | translate}}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>
                            <span>{{'person.fields.name' | translate}}</span>
                            <p-sortIcon [field]="nome"></p-sortIcon>
                        </th>

                        <th class="datatable-collum-field-boolean">
                            <span>{{'person.fields.client' | translate}}</span>
                            <p-sortIcon [field]="cliente"></p-sortIcon>
                        </th>
                        <th class="datatable-collum-field-boolean">
                            <span>{{'person.fields.student' | translate}}</span>
                            <p-sortIcon [field]="estudante"></p-sortIcon>
                        </th>
                        <th class="datatable-collum-field-boolean">
                            <span>{{'person.fields.provider' | translate}}</span>
                            <p-sortIcon [field]="fornecedor"></p-sortIcon>
                        </th>
                        <th class="datatable-collum-field-boolean">
                            <span>{{'person.fields.collaborator' | translate}}</span>
                            <p-sortIcon [field]="colaborador"></p-sortIcon>
                        </th>
                        <th class="datatable-collum-field-boolean">
                            <span>{{'person.fields.shippingCompany' | translate}}</span>
                            <p-sortIcon [field]="transportadora"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-obj>
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <i *ngIf="rowData['removed'] === true"
                               class="fa fa fa-minus-square"
                               aria-hidden="true"></i>
                            <span>{{rowData['nome']}}</span>
                        </td>

                        <td class="datatable-collum-field-boolean">
                            <span>{{(rowData['cliente'] ? 'actions.yes' : 'actions.no') | translate}}</span>
                        </td>
                        <td class="datatable-collum-field-boolean">
                            <span>{{(rowData['estudante'] ? 'actions.yes' : 'actions.no') | translate}}</span>
                        </td>
                        <td class="datatable-collum-field-boolean">
                            <span>{{(rowData['fornecedor'] ? 'actions.yes' : 'actions.no') | translate}}</span>
                        </td>
                        <td class="datatable-collum-field-boolean">
                            <span>{{(rowData['colaborador'] ? 'actions.yes' : 'actions.no') | translate}}</span>
                        </td>
                        <td class="datatable-collum-field-boolean">
                            <span>{{(rowData['transportadora'] ? 'actions.yes' : 'actions.no') | translate}}</span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="paginatorleft">
                    <a pButton icon="fa fa-refresh"
                       (click)="findAll(globalFilter, dataTable)"
                       tooltipPosition="top" pTooltip="{{'actions.refresh' | translate}}"></a>
                </ng-template>

                <ng-template pTemplate="paginatorright" let-obj="rowData">
                    <button type="button"
                            *ngIf="auth.hasPermission('ROLE_UPDATE_PERSON')"
                            pButton
                            icon="fa fa-pencil"
                            label="{{'actions.edit' | translate}}"
                            [disabled]="selectedPerson ? false :true"
                            tooltipPosition="top" pTooltip="{{'actions.tooltip.edit' | translate}}"
                            (click)="edit()"></button>
                    <button type="button"
                            *ngIf="auth.hasPermission('ROLE_DELETE_PERSON')"
                            pButton
                            icon="fa fa-trash"
                            class="ui-button-danger"
                            label="{{'actions.delete' | translate}}"
                            [disabled]="selectedPerson ? false :true"
                            tooltipPosition="top" pTooltip="{{'actions.tooltip.delete' | translate}}"
                            (click)="ConfirmDeletion(obj)"></button>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
