<ngx-loading [show]="loading"></ngx-loading>
<p-progressBar *ngIf="loading" mode="indeterminate" styleClass="wc-progress-bar-indeterminate"></p-progressBar>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div>
                <h1 *ngIf="loading === true">{{('app.comum.carregando') | translate}}</h1>
                <h1 *ngIf="loading === false">{{(form.get('key').value?.length > 0 ? 'app.pessoa.acoes.editar' : 'app.pessoa.acoes.adicionar') |
                    translate}}</h1>
            </div>

            <form #f="ngForm" novalidate (submit)="save()" autocomplete="off" [formGroup]="form">

                <div class="ui-g">
                    <input pInputText
                           type="text"
                           [hidden]="true"
                           name="key"
                           formControlName="key">

                    <div *ngIf="form.get('key').value == null && ocultarSelecaoTipoPessoa === false" class="ui-sm-12 ui-g-12 person-group-type-record">
                        <p-radioButton name="groupname"
                                       label="{{'app.pessoa.rotulos.pessoa_fisica' | translate}}"
                                       value="FISICA"
                                       formControlName="tipo"></p-radioButton>
                        <p-radioButton name="groupname"
                                       label="{{'app.pessoa.rotulos.pessoa_juridica' | translate}}"
                                       value="JURIDICA"
                                       formControlName="tipo"></p-radioButton>
                    </div>

                    <div class="ui-sm-10 ui-g-10 person-group-type">
                        <p-checkbox [formControl]="form.controls['cliente']"
                                    name="client" binary="true"
                                    label="{{'app.pessoa.campos.cliente' | translate}}"></p-checkbox>

                        <p-checkbox [formControl]="form.controls['estudante']"
                                    name="client" binary="true"
                                    label="{{'app.pessoa.campos.estudante' | translate}}"></p-checkbox>

                        <p-checkbox [formControl]="form.controls['fornecedor']"
                                    name="client" binary="true"
                                    label="{{'app.pessoa.campos.fornecedor' | translate}}"></p-checkbox>

                        <p-checkbox [formControl]="form.controls['colaborador']"
                                    name="client" binary="true"
                                    label="{{'app.pessoa.campos.colaborador' | translate}}"></p-checkbox>

                        <p-checkbox [formControl]="form.controls['transportadora']"
                                    name="client" binary="true"
                                    label="{{'app.pessoa.campos.transportadora' | translate}}"></p-checkbox>
                    </div>

                    <!--GRUPO DADOS GERAIS -->
                    <div class="ui-g-12">
                        <div class="ui-g-12 card-cinza" style="border: 1px solid #c7c7c7;">

                            <!--PESSOA FISICA - CPF-->
                            <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                 class="ui-sm-3 ui-g-3 ui-fluid"
                                 formGroupName="pessoaFisica">
                                <label class="required">{{'app.pessoa.campos.cpf'| translate}}</label>
                                <p-inputMask mask="999.999.999-99" slotChar="_" formControlName="cpf"
                                             [disabled]="form.get('key').value != null"></p-inputMask>
                                <app-message [form]="f" [control]="form.get('pessoaFisica').get('cpf')"></app-message>
                            </div>

                            <!--PESSOA FISICA - JURIDICA-->
                            <div *ngIf="form.get('tipo').value === 'JURIDICA' ? true : false"
                                 class="ui-sm-3 ui-g-3 ui-fluid"
                                 formGroupName="pessoaJuridica">
                                <label class="required">{{'app.pessoa.campos.cnpj'| translate}}</label>
                                <p-inputMask mask="99.999.999/9999-99" slotChar="_" formControlName="cnpj"
                                             [disabled]="form.get('key').value != null"></p-inputMask>
                                <app-message [form]="f" [control]="form.get('pessoaJuridica').get('cnpj')"></app-message>
                            </div>

                            <!--PESSOA - NOME-->
                            <div class="ui-sm-9 ui-g-9 ui-fluid">
                                <label class="required">{{(form.get('tipo').value === 'FISICA' ? 'app.pessoa.campos.nome' : 'app.pessoa.rotulos.razao_social') | translate}}</label>
                                <input pInputText type="text" formControlName="nome" class="txt-upercase">
                                <app-message [form]="f" [control]="form.get('nome')"></app-message>
                            </div>

                            <!--PESSOA - EMAIL-->
                            <div class="ui-sm-6 ui-g-6 ui-fluid">
                                <label>{{'app.pessoa.campos.email'| translate}}</label>
                                <input pInputText type="email"
                                       pattern="^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                                       formControlName="email">
                                <app-message [form]="f" [control]="form.get('email')"></app-message>
                            </div>

                            <!--PESSOA - SITE-->
                            <div class="ui-sm-6 ui-g-6 ui-fluid">
                                <label>{{'app.pessoa.campos.site'| translate}}</label>
                                <input pInputText type="text"
                                       formControlName="site">
                                <app-message [form]="f" [control]="form.get('site')"></app-message>
                            </div>

                            <!--PESSOA FISICA - SEXO-->
                            <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                 class="ui-g-3 ui-fluid"
                                 formGroupName="pessoaFisica">
                                <label class="required">{{'app.pessoa.campos.sexo'| translate}}</label>
                                <p-dropdown emptyFilterMessage="{{'app.acoes.nenhum-registro-encontrado' | translate }}"
                                            [options]="sexos"
                                            formControlName="sexo"
                                            [filter]="true" [autoWidth]="false"
                                            placeholder="{{'app.acoes.selecione2' | translate}}">
                                </p-dropdown>
                                <app-message [form]="f" [control]="form.get('pessoaFisica').get('sexo')"></app-message>
                            </div>

                            <!--PESSOA FISICA - ESTADO CIVIL -->
                            <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                 class="ui-sm-3 ui-g-3 ui-fluid"
                                 formGroupName="pessoaFisica">
                                <div formGroupName="estadoCivil">
                                    <label class="required">{{'app.pessoa.campos.estadoCivil'| translate}}</label>
                                    <p-dropdown emptyFilterMessage="{{'app.acoes.nenhum-registro-encontrado' | translate }}"
                                                [options]="estadoCivilList"
                                                formControlName="key"
                                                [filter]="true" [autoWidth]="false"
                                                placeholder="{{'app.acoes.selecione2' | translate}}">
                                    </p-dropdown>
                                    <app-message [form]="f" [control]="form.get('pessoaFisica').get('estadoCivil').get('key')"></app-message>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-fluid">
                        <p-tabView>
                            <!--GRUPO REGISTRO GERAL-->
                            <p-tabPanel header="{{'app.pessoa.rotulos.registro_geral' | translate}}" class="ui-g">
                                <!--PESSOA FISICA - RG-->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'app.pessoa.campos.rg'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="rg"
                                           class="rg_mask">
                                    <app-message [form]="f" [control]="form.get('pessoaFisica').get('rg')"></app-message>
                                </div>

                                <!--PESSOA FISICA - DATA NASCIMENTO-->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false" class="ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.dataNascimento'| translate}}</label>
                                    <p-calendar formControlName="dataNascimento"
                                                dateFormat="dd/mm/yy"
                                                [readonlyInput]="false"
                                                [showIcon]="true"
                                                [maxDate]="dataAtual"
                                                [monthNavigator]="true"></p-calendar>
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('dataNascimento')"></app-message>
                                </div>

                                <!--PESSOA FISICA - ORGAO RG-->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.orgaoRg'| translate}}</label>
                                    <p-inputMask mask="aaa/aa" slotChar="_" formControlName="orgaoRg"></p-inputMask>
                                    <app-message [form]="f" [control]="form.get('pessoaFisica').get('orgaoRg')"></app-message>
                                </div>

                                <!--PESSOA FISICA - DATA EMISSAO RG-->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.dataEmissaoRg'| translate}}</label>
                                    <p-calendar formControlName="dataEmissaoRg"
                                                dateFormat="dd/mm/yy"
                                                [readonlyInput]="true"
                                                [showIcon]="true"
                                                [maxDate]="dataAtual"
                                                [monthNavigator]="true"></p-calendar>
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('dataEmissaoRg')"></app-message>
                                </div>

                                <!--PESSOA FISICA - NATURALIDADE -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-6 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.naturalidade'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="naturalidade">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('naturalidade')"></app-message>
                                </div>

                                <!--PESSOA FISICA - NACIONALIDADE -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-6 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.nacionalidade'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="nacionalidade">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('nacionalidade')"></app-message>
                                </div>

                                <!--PESSOA FISICA - NOME PAI -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-6 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.nomePai'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="nomePai">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('nomePai')"></app-message>
                                </div>

                                <!--PESSOA FISICA - NOME MAE -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-6 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.nomeMae'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="nomeMae">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('nomeMae')"></app-message>
                                </div>


                            </p-tabPanel>

                            <!--GRUPO CNH-->
                            <p-tabPanel header="{{'person.labels.cnh' | translate}}" class="ui-g">
                                <!--PESSOA FISICA - NUMERO CNH -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.cnhNumero'| translate}}</label>
                                    <input pInputText type="text"
                                           pattern="[0-9]+$"
                                           formControlName="cnhNumero">
                                    <app-message [form]="f" [control]="form.get('pessoaFisica').get('cnhNumero')"></app-message>
                                </div>

                                <!--PESSOA FISICA - CNH CATEGORIA -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-sm-3 ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.cnhCategoria'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="cnhCategoria"
                                           pattern="[A-Za-z]+$"
                                           class="text-upercase"
                                    >
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('cnhCategoria')"></app-message>
                                </div>

                                <!--PESSOA FISICA - CNH VENCIMENTO -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-sm-3 ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.cnhVencimento'| translate}}</label>
                                    <p-calendar formGroupName="cnhVencimento"
                                                dateFormat="dd/mm/yy"
                                                [readonlyInput]="true"
                                                [showIcon]="true"
                                                [maxDate]="dataAtual"
                                                [monthNavigator]="true"></p-calendar>
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('cnhVencimento')"></app-message>
                                </div>
                            </p-tabPanel>

                            <!--GRUPO TITULO DE ELEITOR -->
                            <p-tabPanel header="{{'person.labels.tituloEleitoral' | translate}}" class="ui-g">
                                <!--PESSOA FISICA - TITULO ELEITORAL NUMERO -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-sm-3 ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.tituloEleitoralNumero'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="tituloEleitoralNumero">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('tituloEleitoralNumero')"></app-message>
                                </div>

                                <!--PESSOA FISICA - TITULO ELEITORAL ZONA -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-sm-3 ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.tituloEleitoralZona'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="tituloEleitoralZona">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('tituloEleitoralZona')"></app-message>
                                </div>

                                <!--PESSOA FISICA - TITULO ELEITORAL SECAO -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-sm-3 ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.tituloEleitoralSecao'| translate}}</label>
                                    <span class="requiredLabel"></span>
                                    <input pInputText type="text"
                                           formControlName="tituloEleitoralSecao">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('tituloEleitoralSecao')"></app-message>
                                </div>
                            </p-tabPanel>

                            <!--GRUPO RESERVISTA-->
                            <p-tabPanel header="{{'person.labels.reservista' | translate}}" class="ui-g">
                                <!--PESSOA FISICA - TIPO SANGUINEO -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.tipoSangue'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="tipoSangue">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('tipoSangue')"></app-message>
                                </div>

                                <!--PESSOA FISICA - RESERVISTA NUMERO -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-sm-3 ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.reservistaNumero'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="reservistaNumero">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('reservistaNumero')"></app-message>
                                </div>

                                <!--PESSOA FISICA - RESERVISTA CATEGORIA -->
                                <div *ngIf="form.get('tipo').value === 'FISICA' ? true : false"
                                     class="ui-sm-3 ui-g-3 ui-fluid"
                                     formGroupName="pessoaFisica">
                                    <label>{{'person.fields.reservistaCategoria'| translate}}</label>
                                    <input pInputText type="text"
                                           formControlName="reservistaCategoria">
                                    <app-message [form]="f"
                                                 [control]="form.get('pessoaFisica').get('reservistaCategoria')"></app-message>
                                </div>
                            </p-tabPanel>

                        </p-tabView>
                    </div>

                    <div class="ui-sm-12 ui-g-12">
                        <button pButton type="button"
                                label="{{'actions.cancel' | translate}}"
                                class="ui-button-danger"
                                tooltipPosition="top" pTooltip="{{'actions.tooltip.cancel' | translate}}"
                                (click)="cancel()"></button>
                        <button pButton type="submit"
                                *ngIf="form.get('key').value ? auth.hasPermission('ROLE_UPDATE_PERSON') : auth.hasPermission('ROLE_SAVE_PERSON')"
                                label="{{(form.get('key').value ? 'actions.update' : 'actions.save') | translate}}"
                                tooltipPosition="top" pTooltip="{{'actions.tooltip.save' | translate}}"
                                class="ui-button-success"></button>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
